:root{
    --primary: crimson;
    --white: white;
    --darkdark: black;
    --light: whitesmoke;
}

* {
    box-sizing: border-box;
    font-family: 'Fira sams', sans-serif;
}

body{
    background-color: var(--white);
    color: var(--light);
}

.watch {
    text-align: center;
    background-color: var(--darkdark);
    width: 100%;
    max-width: 550px;
    margin: 4rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.time {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;

    background-color: var(--primary);
    color: var(--light);
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;

    transition: 0.4s;
}

button:hover {
    opacity: 0.7;
}

button:active {
    background-color: var(--white);
}