@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: url(https://source.unsplash.com/1600x900?tree);
    background-size: cover;
    position: relative;
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 100px;
    z-index: 100;
    background-color: rgba(238,238,238,0.75);
}

header.sticky {
    padding: 5px 100px;
    background: rgba(238,238,238,0.75);
}

header.sticky .logo {
    color: black;
}

header.sticky ul li a {
    color: black;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}


.container {
    height: 100vh;
    padding: 100px 25px 50px 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* COUNTER */
.counter-container {
    text-align: center;
    background-color: rgba(238,238,238,0.75);
    padding: 15px;
    border-radius: 5px;
}

.counter-title {
    font-size: 20px;
}

.counter-value {
    font-size: 30px;
}

.btn {
    padding: 5px;
    border-radius: 5px;
}

.btn-danger {
    background-color: rgb(238, 96, 96);
}
.btn-success {
    background-color: rgb(96, 238, 96);
}
.btn-secondary {
    background-color: rgb(96, 96, 96);
}

.btn-danger:hover{
    border: 2px solid rgb(238, 96, 96);
}
.btn-success:hover {
    border: 2px solid rgb(96, 238, 96);
}
.btn-secondary:hover {
    border: 2px solid rgb(96, 96, 96);
}

/* CLOCK */

.clock-dial {
    position: relative;
    width: 280px;
    height: 280px;
    background-color: rgba(238,238,238,0.75);
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(121, 121, 121, 0.75);
    transform-origin: center;
}

.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(96, 96, 96, 0.75);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.number {
    font-size: 20px;
    font-weight: bold;
    color: rgba(96, 96, 96, 0.75);
    position: absolute;
}
.number-1{
    top: 6%;
    left: 70%;
}
.number-2{
    top: 22%;
    left: 87%;
}
.number-3{
    top: 50%;
    left: 100%;
    transform: translate(-150%, -50%);
}
.number-4{
    bottom: 22%;
    left: 87%;
}
.number-5{
    bottom: 6%;
    left: 70%;
}
.number-6{
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.number-7{
    bottom: 6%;
    right: 70%;
}
.number-8{
    bottom: 22%;
    right: 87%;
}
.number-9{
    top: 50%;
    left: 0%;
    transform: translate(50%, -50%);
}
.number-10{
    top: 23%;
    right: 86%;
}
.number-11{
    top: 6%;
    right: 70%;
}
.number-12{
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.brand {
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    color: rgba(96, 96, 96, 0.75);
}

.arrows{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.arrows::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: rgb(96, 96, 96);
    border-radius: 50%;
    z-index: 4;
}
.arrows div{
    position: absolute;
    transform-origin: bottom;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    background-color: rgba(96, 96, 96, 0.75);
}
.arrows .hour{
    height: 80px;
    width: 5px;    
}
.arrows .minute {
    height: 120px;
    width: 3px;
}
.arrows .second{
    background-color: rgba(0, 0, 0, 0.75);    
    height: 135px;
    width: 2px;
}


/* TIMER */
.timer-container {
    text-align: center;
    background-color: rgba(238,238,238,0.75);
    padding: 15px;
    border-radius: 5px;
}

.timer-time {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

/* CALENDAR */
.calendar-container{
    background-color: rgba(238,238,238,0.75);
    color: rgba(0, 0, 0, 0.75);
    width: 400px;
    height: 350px;
    border-radius: 10px;
}

.month{
    width: 100%;
    height: 50pxpx;
    background-color: rgba(32, 178, 170, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.month h1{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.month p{
    font-size: 15px;
}

.weekdays{
    width: 100%;
    height: 25px;
    display: flex;
    background-color: rgba(96, 96, 96, 0.75);
}

.weekdays div{
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days div{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 57.14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days div:hover:not(.empty){
    border: 2px solid gray;
    cursor: pointer;
}

.today{
    background-color: rgba(32, 178, 170, 0.75);
    border-radius: 5px;
}


/* MOVEMENT */

.circle-container {
    width: 100%;
    height: 100vh;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(32, 178, 170, 0.9);
    border: 3px solid rgba(0, 0, 0, 0.75);
    transition: 0.6s;
}

.textbox {
    position: absolute;
    bottom: 50px;
    background-color: rgba(238,238,238,0.75);
    padding: 5px 15px;
    border-radius: 5px;
    user-select: none;
}


/* LIST */
.task-container {
    background-color: rgba(238,238,238,0.75);
    padding: 15px;
    border-radius: 5px;
}
.task-container h1 {
    text-align: center;
    padding: 10px;
}


.input-field {
    width: 300px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    vertical-align: middle;
}

.addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    font-size: 15px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}