<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <a href="home.html" class="logo">Trinket</a>
        <ul>
            <li><a href="clock.html">Clock</a></li>
            <li><a href="timer.html">Timer</a></li>
            <li><a href="counter.html">Counter</a></li>
        </ul>
    </header>

    <div class="container">

        <!-- INSERT CONTENT HERE -->

        <div class="counter-container">
            <div class="counter-title">Counter Project</div>
            <div class="counter-value">0</div>
            <div class="counter-controls">
                <button class="btn btn-danger"><i class="fa-solid fa-minus"></i></button>
                <button class="btn btn-secondary"><i class="fa-solid fa-rotate-left"></i></button>
                <button class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
    
    </div>

    <!-- INSERT SCRIPTS HERE -->

    <script src="../scripts/sticky_header.js"></script>
    <script src="../scripts/counter.js"></script>
</body>
</html>
