@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.App {
  overflow-x: hidden;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: rgb(0, 0, 0);
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 50px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(50, 50, 50);
  font-size: 35px;
}
nav h1:hover {
  cursor: pointer;
}


.game {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 550px;  
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.letter {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(50, 50, 50);
  font-family: 'IBM Plex Sans', sans-serif;
}

#correct {
  background-color: #528d4e;
  border: 1px solid #528d4e;
}

#almost {
  background-color: #b49f39;
  border: 1px solid #b49f39;
}

#error {
  background-color: rgb(200, 200, 200);
}

.keyboard {
  width: 700px;
  height: 100%;
  margin-top: 10px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 2px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}

.key {
  width: 32px;
  height: 40px;
  margin: 2px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 15px;
  font-weight: bolder;
  background-color: rgb(200, 200, 200);
  color: rgb(50, 50, 50);
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
}

#big {
  width: 70px;
}
#disabled {
  background-color: rgb(125, 125, 125);
}
#accurate {
  background-color: #528d4e;
}
#alternate {
  background-color: #b49f39;
}

.gameOver {
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(50, 50, 50);
}

.gameOver h3 {
  margin: 5px;
}

.gameOver h1 {
  margin: 5px;
}

.gameOver button {
  background-color: #528d4e;
  border: none;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin: 5px;
}


