* {
    box-sizing: border-box;
    font-family: 'Fira sams', sans-serif;
}

body{
    background-color: white;
    color: white;
}

.counter {
    text-align: center;
    background-color: black;
    width: 100%;
    max-width: 550px;
    margin: 4rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: white;
    margin: 0;
}

.value {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: white;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;

    background-color: crimson;
    color: white;
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;

    transition: 0.4s;
}