body {
    height: 100vh;
    min-height: 500px;
    background-color: gray;
}

img{
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15%;
    z-index: 2;
}

.clock{
    padding: 70;
    width: 350px;
    height: 350px;
    border-radius: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clock:after {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    border-radius: 45%;
    background-color: lightgray;
    border: 15px solid darkgreen;
    z-index: -1;
    box-shadow: 0 0 25px 10px rgba(250, 249, 249, 0.8);
}

.numbers div{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px gray;
}

.twelve{
    top: 6px;
    left: 50%;
    transform: translate(-50%);
}

.three{
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.six{
    bottom: 6px;
    left: 50%;
    transform: translate(-50%);
}

.nine{
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}

.date p{
    position: absolute;
    display: flex;
    width: 35px;
    height: 50px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: black;
    color: whitesmoke;
    font-family: 'arial narrow';
    font-size: 30px;
    font-stretch: ultra-condensed;
}

.arrows{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.arrows::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: darkgreen;
    border-radius: 50%;
    z-index: 4;
}

.arrows div{
    width: 4px;
    position: absolute;
    height: 120px;
    background-color: white;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    border: 4px solid black;
    box-shadow: 1px 1px 1px gray;
}

.arrows .hour{
    height: 80px;
    transform: rotate(30deg);
}

.arrows .second{
    background-color: darkgreen;
    border: 1px solid black;
    height: 135px;
    width: 1px;
    transform: rotate(90deg);
    transform-origin: bottom;
}